:root{
    --slate: #F3F4FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    src: url("../Poppins.ttf");
}

.table thead th:nth-child(1){
    border-radius: 10px 0 0 0;
}

.table thead th:last-child{
    border-radius: 0 10px 0 0;
}

.table tbody tr:last-child td:first-child{
    border-radius:  0 0 0 10px;
}

.table tbody tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
}

.table tbody tr{
    vertical-align: middle;
}

.table tbody tr td{
    background-color: var(--slate);
}

.bg-slate{
    background-color: var(--slate);
}

.container-sch-admin{
    max-width: 1000px;
}
