.tbl-container{
  width: auto;
  padding: 10px;
  padding-top: 0;
}

#table-header{
  background-color: #435d7d;
  display: flex;
  align-items: center;
  padding: 10px; 
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  margin-top: 25px;
}

tr:hover{
  background-color: rgb(241, 241, 241);
  transition: 0.3s;
}

#table-title:hover{
  background-color: white;
}
